<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>eta</title>

    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	
    <!--CUSTOM-->
    <link rel="stylesheet" href="css/common/style.css">
    <link rel="stylesheet" href="css/eta/style.css">
	<script type="text/javascript" src="js/eta/script.js"></script>
</head>

<body>

    <div class="container">
    	<div class="row">
			<div class="col-sm-2 sel-eta-box">
				<label for="min_select">Età minima</label>
				<select id ="min_select" class="form-select hide-bar" multiple aria-label="multiple select example" style="padding: 0.5rem 0;">
       				<option value="{{eta}}">{{eta}} anni</option>  
   				</select>
  			</div>
  
			<div class="col-sm-2 sel-eta-box">
				<label for="max_select">Età massima</label>
				<select id="max_select" class="form-select hide-bar" multiple aria-label="multiple select example" style="padding: 0;">

				</select>
			</div>
	                
			<div class="col-sm-2">
				<button id="btn_fetch_age_range">Trova</button>
			</div>
		</div>

		<div class="row tbl_list">
			<table class="table table-striped green-striped-table">
	            <thead>
	              <tr>
	                <th scope="col">Età</th>
	                <th scope="col">Maschi</th>
	                <th scope="col">Femmine</th>
	                <th scope="col">% maschi</th>
	                <th scope="col">% femmine</th>
	                <th scope="col">totale</th>
	              </tr>
	            </thead>
				<tbody id="tr_tbl_eta">
					<tr>
						<td>{{eta}}</td>
						<td>{{maschi}}</td>
						<td>{{femmine}}</td>
						<td>{{%maschi}}</td>
						<td>{{%femmine}}</td>
						<td>{{totale}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	<!--<div class="progress">
			<div class="progress-bar" role="progressbar" th:with="male_per=(100*${comune.maschi}/${comune.totale})"
				  th:style="|width: ${male_per}%;|" th:text="|Maschi: ${#numbers.formatDecimal(male_per,0,0)}%|">
			  </div>
	</div>

 
	 <div class="progress">
			<div id="bar_femmine" class="progress-bar" role="progressbar" th:with="fem_per=(100*${femmine}/${totale})"
				  th:style="|width: ${fem_per}%;|" th:text="|Femmine: ${#numbers.formatDecimal(fem_per,0,0)}%|">
			  </div>
	 </div>-->	

        <div class="row scheda">

        	<p id="dati_istat_text" 
        		data-prefix="Fonte dati ISTAT - Percentuale maschi e femmine nella fascia di età "
        		data-suffix=" anni">
        	</p>
        </div>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
		
	</script>
</body>
</html>